* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

html {
	font-family: "Montserrat", sans-serif;
	font-size: 10px;
}

.header-nav {
	max-width: 1600px;
	height: 100vh;
	text-transform: uppercase;
	background-image: url("../img/header-small.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px 30px;
	margin: 0 auto;
	.menu {
		display: none;
	}

	.burger-btn {
		position: relative;
		a {
			position: absolute;
			left: 0;
			top: 0;
			text-decoration: none;
			font-size: 2rem;
			font-weight: bold;
			color: rgb(92, 83, 160);
		}

		.burger {
			position: absolute;
			top: 0;
			right: 0;
			div {
				width: 30px;
				border: 1px solid black;
				margin-bottom: 8px;
			}
		}
	}

	.header-info {
		position: absolute;
		top: 40%;
		left: 20%;
		right: 20%;
		text-align: center;
		margin: 0 auto;
		h1 {
			font-size: 3rem;
			margin-bottom: 10px;
			letter-spacing: 3px;

			span {
				color: rgb(92, 83, 160);
			}
		}

		p {
			font-size: 1.3rem;
		}
		div {
			margin-left: auto;
			margin-right: auto;
			margin-top: 40px;
			border: 2px solid rgb(92, 83, 160);
			width: 30%;
		}
	}
}

.exhibition {
	margin-top: 20px;

	.wrap {
		margin: 0 auto;
		// padding: 10px 20px;
		h1 {
			text-transform: uppercase;
			text-align: center;
			padding: 10px 20px;
			font-size: 1.8rem;
			color: rgb(92, 83, 160);
		}
		.card-exhi {
			box-shadow: 0 0 3px black;
			// border: 1px solid black;
			margin-bottom: 20px;
			height: 400px;
			max-width: 300px;
			.image {
				height: 50%;
				img {
					width: 100%;
					height: 100%;
					max-width: 300px;
				}
				// margin-bottom: 50px;
			}

			.info {
				padding: 60px 30px;
				text-align: center;
				.line {
					border: 1px solid black;
					width: 10%;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
				}
			}
		}
	}
}

@media (orientation: landscape) {
	.exhibition {
		margin-top: 20px;

		.wrap {
			max-width: 1600px;
			margin: 0 auto;
			text-align: center;

			.card-exhi {
				display: inline-block;
				// float: left;
				// margin: 0;
				// width: 20%;
				// .image {
				// 	height: 60%;
				// 	img {
				// 		width: 100%;
				// 		height: 100%;
				// 	}
				// }
			}
		}
	}
}

@media (min-width: 768px) {
	.header-nav {
		.menu {
			position: relative;
			display: block;
			font-weight: bold;
			color: rgb(92, 83, 160);
			a {
				text-decoration: none;
				font-size: 2rem;
			}
			.as {
				position: absolute;
				top: 0;
				left: 0;
			}
			.menu-links {
				position: absolute;
				right: 0;
				top: 0;
			}
			.about,
			.articles,
			.subscribe {
				padding: 10px 30px;
			}
			.articles {
				margin-right: 20px;
			}
			.subscribe {
				border: 1px solid rgb(92, 83, 160);
			}
		}

		.burger-btn {
			display: none;
		}

		.header-info {
			h1 {
				font-size: 6rem;
			}

			p {
				font-size: 3rem;
			}
		}
	}

	.wrap {
		margin: 0 auto;
		text-align: center;
		.card-exhi {
			display: inline-block;
			width: 25%;
			margin: 20px;
			.image {
				height: 60%;
			}
		}
	}
}

@media (min-width: 1024px) {
	.header-nav {
		.menu {
			a {
				font-size: 2.5rem;
			}
		}

		.header-info {
			h1 {
				font-size: 9rem;
			}

			p {
				font-size: 4rem;
			}
		}
	}

	.exhibition {
		.wrap {
			h1 {
				font-size: 3rem;
			}
			.card-exhi {
				.image {
					height: 60%;

					.info {
						p {
							font-size: 1.7rem;
						}
					}
				}
			}
		}
	}
	@media (min-width: 1280px) {
		.header-nav {
			.menu {
				a {
					font-size: 3rem;
				}
			}

			.header-info {
				h1 {
					font-size: 11rem;
				}

				p {
					font-size: 5rem;
				}
			}
		}

		.exhibition {
			margin-top: 20px;

			.wrap {
				h1 {
					font-size: 2.5rem;
				}
				.card-exhi {
					width: 33.33%;
					height: 500px;
					.image {
						height: 60%;
					}

					.info {
						p {
							font-size: 1.7rem;
						}
					}
				}
			}
		}
	}

	@media (min-width: 1600px) {
		.header-nav {
			.menu {
				a {
					font-size: 3.5rem;
				}
			}

			.header-info {
				h1 {
					font-size: 14rem;
				}

				p {
					font-size: 6rem;
				}
			}
		}

		.exhibition {
			margin-top: 20px;

			.wrap {
				margin: 0 auto;
				// padding: 10px 20px;
				h1 {
					font-size: 3rem;
				}
				.card-exhi {
					height: 600px;
					width: 33.33%;
					max-width: 400px;
					.image {
						height: 60%;
						img {
							width: 100%;
							height: 100%;
							max-width: 400px;
						}
						// margin-bottom: 50px;
					}

					.info {
						p {
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}
